# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.dart_tool/
.packages
.pub-cache/
.pub/
build/

**/android/.gradle
doc/

cmdline-tools.zip

packages/**/pubspec.lock
pubspec_overrides.yaml
